body {
  font-family: Sans-Serif;
  background-color: $lightGrey;
}

.btn {
  padding: 10px;
  text-decoration: none;
  background-color: $primaryColor;
  border: none;
  border-radius: $borderRadius;
  color: $white;
  cursor: pointer;
}

input[type=text], input[type=password], input[type=email] {
  border: 1px solid $lightGrey;
  padding: 10px;

  border-radius: $borderRadius;
  outline-width: 0;
  box-sizing: border-box;
}

.container {
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
