@import url(https://fonts.googleapis.com/css?family=Nunito);body {
  font-family: Sans-Serif;
}

.btn {
  padding: 10px;
  text-decoration: none;
  background-color: #3490dc;
  border: none;
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
}

input[type=text],
input[type=password],
input[type=email] {
  border: 1px solid #DDD;
  padding: 10px;
  border-radius: 5px;
  outline-width: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

body {
  margin: 0;
}

